<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gh0stcr4ck3r.besafe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.gh0stcr4ck3r.besafe.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gh0stcr4ck3r.besafe.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name="com.gh0stcr4ck3r.besafe.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.gh0stcr4ck3r.besafe.SettingsActivity" />

        <activity
            android:name="com.gh0stcr4ck3r.besafe.VerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity android:name="com.gh0stcr4ck3r.besafe.ProfileActivity" />
        <activity android:name="com.gh0stcr4ck3r.besafe.NotificationsActivity" />
        <activity android:name="com.gh0stcr4ck3r.besafe.IncomingAlertActivity" />

        <service android:name="com.gh0stcr4ck3r.besafe.services.GPSTracker" />

    </application>

</manifest>